#principal{
    width: 900px;
    heigth: auto; overflow: hidden;
    border: 0px solid #000;
    margin:auto;
}

header{
    width: 900px;
    heigth: auto;
    border: 0px solid #000;
}

#logo{
    width: 200px;
    heigth: 1000px;
    border: 0px solid #000;
    float:left;
}

.titulo{
    margin-top: 25px;
    font-size: 30px;
}

.subtitulo{
    font-size: 25px;
    margin-top: -20px;
    
}

.menu{
    width: 550px;
    heigth: 100px;
    border: 1px solid #ccc;
    float:right;
    margin-top: 40px;
    background: #006699;
}

.menu ul{}

.menu ul li{
    list-style: none;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px 15px;
    border: 0px solid #ccc;
    color: #fff;
}

#slide{
    margin-top: 10px;
    width: 900px;
    height: 200px;
}

#categorias{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin-top: 10px;
}

.uno{
    width: 280px;
    height: auto; overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    text-align: center;
}

.dos{ 
    margin-left: 12px;
    margin-right: 12px;
}

.Leer-mas{
    text-decoration: none;
    border: 1px solid #006699;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}

.Leer-mas:hover{
    background: #006699;
    color: #fff;
    transition: background 1s, color: 1s;
}

#info{
    width: 900px;
    height: auto; overflow: hidden;
    border: 0px solid #c0c0c0;
}

#izq{
    width: 585px;
    height: auto;overflow: hidden;
    border: 1px solid #ccc;
    float: left;
    padding: 5px;
    background: #006699;
}

#der{
    width: 290px;
    height: auto;overflow: hidden;
    border: 1px solid #ccc;
    float: right;
    padding: 5px;
    text-align: left;
}

.form-register{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.controls{
    width: 96%;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #c0c0c0;
}

.Validar-Cita{
    text-decoration: none;
    border: 1px solid #c0c0c0;
    padding: 10px 20px 10px 20px;
}

.Validar-cita:hover{
    background: #fff;
    color: #006699;
    transition: background 1s, color: 1s;
}